:root {
    --font-header: 
    --font-body: 
    --color-primary: #351C75;
    --color-secondary: #BD60E7;   
}

/* ===== Background Color ===== */

.color-bg-primary {
    background: var(--color-primary);
}

.color-bg-secondary {
    background: var(--color-secondary);
}



/* Button Class */

button {
    background-color: #351C75;
    color: white;
    border: solid 1px var(--color-primary);
    border-radius: 5px;
    padding: 8px;
    margin-right: 5px;
}

button:hover {
    background: var(--color-secondary);
    border: solid 1px  var(--color-secondary);
    color: white;
}

/* High score */

.high-score {
    color: var(--color-secondary)
}


@media (max-width: 992px) {
}
